/** @format */

.Card {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: var(--gap-sm);
	cursor: pointer;
	padding: var(--padding-sm);
	background-color: var(--light);
	border: 2px solid var(--dark);
	border-radius: var(--border-radius);
	transition: background-color 250ms ease-out, color 250ms ease-out;
}

.Card:hover {
	background-color: var(--dark);
	color: var(--light);
}

.Card__Image {
	--imgSize: 200px;
	width: var(--imgSize);
	height: var(--imgSize);
	border-radius: var(--border-radius);
	overflow: hidden;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.Card__Text {
	text-align: center;
}

@media screen and (max-width: 992px) {
	.Card__Image {
		--imgSize: 180px;
	}
}

@media screen and (max-width: 768px) {
	.Card__Image {
		--imgSize: 160px;
	}
}

@media screen and (max-width: 576px) {
	.Card__Image {
		--imgSize: 140px;
	}
}
