/** @format */
:root {
	--border-radius: 10px;
	--padding-sm: 0.4rem;
	--gap-sm: 0.4rem;

	--dark: #222;
	--light: #f8f8f8;
	--bg: #d4d4d4;
}

body {
	background-color: var(--bg);
	color: var(--dark);
}

h2 {
	font-size: 1.2rem;
	font-weight: bold;
}
